<%= form_for(@unko_position) do |f| %>
  <% if @unko_position.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@unko_position.errors.count, "error") %> prohibited this unko_position from being saved:</h2>

      <ul>
      <% @unko_position.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :latitude %><br />
    <%= f.text_field :latitude %>
  </div>
  <div class="field">
    <%= f.label :longitude %><br />
    <%= f.text_field :longitude %>
  </div>
  <div class="field">
    <%= f.label :info %><br />
    <%= f.text_field :info %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
